.content {
  margin: 0 auto;
  margin-top: 3.5rem;

  max-width: 1280px;
  height: 100vh;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: #fdfdfd;
}
